doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        default_table_options:
            charset: utf8
            collate: utf8_unicode_ci
        types:
            pokemon_id: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\Pokemon\PokemonIdType
            pokemon_import_id: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\Pokemon\PokemonImportIdType
            pokemon_name: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\Pokemon\PokemonNameType
            pokemon_type: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\Pokemon\PokemonTypeType
            team_id: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\Team\TeamIdType
            team_name: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\Team\TeamNameType
            user_id: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\User\UserIdType
            email: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\EmailType
            user_name: \App\WisePokemon\Infrastructure\Persistence\Doctrine\Type\User\UserNameType

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '13'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            WisePokemon:
                is_bundle: false
                type: xml
                dir: "%kernel.project_dir%/config/doctrine/wise_pokemon"
                prefix: 'App\WisePokemon\Domain'
                alias: WisePokemon

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
